/* SHOPPING CART */
.cart {
  padding: var(--small-white-space) 0;
}
.cart__container {
  max-width: 120rem;
  grid-template-columns: 2fr 1fr;
  column-gap: 6.4rem;
  align-items: start;
  padding: var(--default-hori-padding);
}
.cart__items {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}
.cart__items-label {
  font-size: var(--large-text);
  font-weight: 700;
  margin-bottom: 1.6rem;
}
.cart__info {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}
.cart__upper-item-info {
  grid-template-columns: 15rem 1fr max-content;
  align-items: start;
  column-gap: 2.4rem;
  row-gap: 2.4rem;
}
.cart__img {
  width: 100%;
}
.cart__detailed-info {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  font-size: var(--smaller-text);
}
.cart__item-name {
  font-weight: 700;
  font-size: var(--medium-text);
}
.cart__item-category,
.cart__item-color,
.cart__item-size {
  color: var(--light-grey);
  font-weight: 500;
}
.cart__price {
  font-size: var(--smaller-text);
  font-weight: 600;
}
.cart__qty-btns {
  display: flex;
  align-items: center;
  border-radius: 1.6rem;

  gap: 0.8rem;
  box-shadow: 0 0 3px 0.1px rgba(0, 0, 0, 0.4);
  width: max-content;
  font-size: var(--smallest-text);
}
.cart__qty-btn {
  display: flex;
  align-items: center;
  font-size: inherit;
  padding: 1.2rem;
  transition: all 0.3s;
}
.cart__qty-btn:active .cart__icon {
  transform: scale(1.3);
}
.cart__delete {
  display: none;
  padding-right: 0.8rem;
}
.cart__qty-btn--show-del .cart__delete {
  display: block;
}
.cart__decrease {
  display: block;
  padding-right: 0.8rem;
}
.cart__qty-btn--show-del .cart__decrease {
  display: none;
}
.cart__increase {
  padding-left: 0.8rem;
}
.cart__qty-num {
  width: 1.6rem;
  text-align: center;
}
.cart__shipping-label {
  font-size: var(--medium-text);
  font-weight: 600;
  margin-bottom: 0.8rem;
}
.cart__shipping-info {
  font-size: var(--smallest-text);
  font-weight: 500;
}
.cart__divider {
  border-top: 1.3px solid var(--light-grey);
}
.cart__summary {
  /* background-color: var(--light-primary-color); */
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  padding: 3.2rem;
  border-radius: 1.6rem;
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
  position: sticky;
  top: 5%;
}
.cart__summary-label {
  font-size: var(--large-text);
  font-weight: 700;
}
.cart__upper-summary {
  grid-template-columns: 1fr max-content;
  column-gap: 2.4rem;
  row-gap: 1.6rem;
  align-items: start;
  font-size: var(--smaller-text);
}
.cart__subtotal-container {
  display: flex;

  gap: 0.4rem;
}
.cart__tooltip {
  background-color: var(--light-grey);
  display: flex;
  align-items: center;
  height: 100%;
  aspect-ratio: 1;
  border-radius: 50%;
  margin-top: 0.2rem;
  position: relative;
}
.cart__tooltip::before,
.cart__tooltip::after {
  position: absolute;
  top: 100%;

  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: all 0.3s;
}
.cart__tooltip::before {
  content: attr(data-text);
  left: -50%;
  width: 20rem;
  margin-top: 1.6rem;
  background-color: var(--light-grey);
  color: #fff;
  font-size: var(--smallest-text);
  padding: 1.6rem;
  z-index: 1;
}
.cart__tooltip::after {
  content: "";
  border: 10px solid var(--light-grey);
  border-color: transparent transparent var(--light-grey) transparent;
  margin-top: -0.4rem;
}
.cart__tooltip:hover::before,
.cart__tooltip:hover::after {
  opacity: 1;
  pointer-events: auto;
  visibility: visible;
}

.cart__question {
  color: #fff;
}
.cart__subtotal-price,
.cart__ship-handle-price,
.cart__tax-price {
  justify-self: right;
}
.cart__total-container {
  font-size: var(--small-text);
  grid-template-columns: auto max-content;
}
.cart__total,
.cart__total-price {
  font-weight: 600;
}
.cart__checkout-btn {
  background-color: var(--darkest-primary-color);
  color: var(--lighter-primary-color);
  padding: 1.2rem 1.6rem;
  font-size: var(--small-text);
  font-weight: 600;
  border-radius: 1.2rem;
  margin-bottom: 0.4rem;
  transition: all 0.3s;
}
.cart__checkout-btn:hover,
.cart__checkout-btn:active {
  background-color: var(--dark-primary-color);
}
.cart__summary-extra-info {
  color: var(--light-grey);
  font-size: var(--smallest-text);
}
