.product-detail {
  padding: var(--smallest-white-space) 0;
}
.product-detail__container {
  grid-template-columns: repeat(2, 1fr);
  align-items: start;
  row-gap: 6.4rem;
  column-gap: 3.2rem;
  padding: 0, var(--default-hori-padding);
  max-width: 120rem;
}
.product-detail__breadcrumbs {
  grid-column: 1/-1;
  display: flex;
  gap: 1.2rem;
}
.product-detail__breadcrumb:link,
.product-detail__breadcrumb:visited,
.product-detail__slash {
  color: var(--default-text-color);
  font-size: var(--medium-text);
  font-weight: 400;
  text-transform: uppercase;
}
.product-detail__breadcrumb:link,
.product-detail__breadcrumb:visited {
  border-bottom: 2px solid currentColor;
  transition: all 0.3s;
}

.product-detail__breadcrumb:hover,
.product-detail__breadcrumb:active {
  color: var(--primary-color);
}
.product-detail__slash:last-child {
  display: none;
}
.product-detail__gallery {
  grid-template-columns: 1fr 3fr;
  grid-template-rows: repeat(6, auto);
  gap: 1.2rem;
}
.product-detail__img-container-main {
  grid-column: 2;
  grid-row: 1/-1;
  align-self: self-start;
  height: 100%;
}

.product-detail__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}
.product-detail__name {
  font-size: var(--larger-text);
  font-weight: 600;
  margin-bottom: 1.2rem;
}
.product-detail__price {
  font-size: var(--medium-text);
  font-weight: 500;
  margin-bottom: 3.2rem;
}
.product-detail__description {
  font-size: var(--small-text);
  font-weight: 400;
  line-height: 1.7;
}
