.product-detail {
  padding: var(--smallest-white-space) 0;
}
.product-detail__container {
  grid-template-columns: repeat(2, 1fr);
  align-items: start;
  row-gap: 6.4rem;
  column-gap: 3.2rem;
  padding: 0, var(--default-hori-padding);
  max-width: 120rem;
}
/* BREADCRUMBS */
.product-detail__breadcrumbs {
  grid-column: 1/-1;
  display: flex;
  gap: 1.2rem;
}
.product-detail__breadcrumb:link,
.product-detail__breadcrumb:visited,
.product-detail__slash {
  color: var(--default-text-color);
  font-size: var(--medium-text);
  font-weight: 400;
  text-transform: uppercase;
}
.product-detail__breadcrumb:link,
.product-detail__breadcrumb:visited {
  border-bottom: 2px solid currentColor;
  transition: all 0.3s;
}

.product-detail__breadcrumb:hover,
.product-detail__breadcrumb:active {
  color: var(--primary-color);
}
.product-detail__slash:last-child {
  display: none;
}
/* GALLERY */
.product-detail__gallery {
  grid-template-columns: 1fr 3fr;
  grid-template-rows: repeat(6, auto);
  gap: 1.2rem;
}
.product-detail__secret-gallery{
  display: none;
}
.product-detail__container--sticky .product-detail__secret-gallery{
  display: block;
}
.product-detail__container--sticky .product-detail__gallery{
  position: fixed;
  top: 25%;
  left: 10%;
  width: 40%;
}

.product-detail__img-container-main {
  grid-column: 2;
  grid-row: 1/-1;
  align-self: self-start;
  height: 100%;
}

.product-detail__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}
/* DETAILS */
.product-detail__name {
  font-size: var(--larger-text);
  font-weight: 600;
  margin-bottom: 1.2rem;
}
.product-detail__price {
  font-size: var(--medium-text);
  font-weight: 500;
  margin-bottom: 3.2rem;
}
.product-detail__description {
  font-size: var(--small-text);
  font-weight: 400;
  line-height: 1.7;
  margin-bottom: 1.6rem;
}
.product-detail__more {
  color: var(--default-text-color);
  font-size: var(--small-text);
  font-weight: 600;
  font-family: inherit;
  border-bottom: 1.5px solid currentColor;
  transition: all 0.3s;
  margin-bottom: 3.2rem;
}
.product-detail__more:hover,
.product-detail__more:active {
  color: var(--primary-color);
}
.product-detail__colors-container {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  margin-bottom: 3.2rem;
}
.product-detail__colors {
  grid-template-columns: repeat(5, max-content);
  row-gap: 1.6rem;
  column-gap: 1.6rem;
}
.product-detail__color-label {
  font-size: var(--medium-text);
  font-weight: 500;
}
.product-detail__btn-color {
  font-family: inherit;
  color: inherit;
  font-size: var(--small-text);
  box-shadow: inset 0 0 0 0.7px var(--default-txt-color);
  padding: 1.6rem 2.4rem;
  transition: all 0.2s;
}

.product-detail__btn-color:hover {
  cursor: pointer;
}
.product-detail__btn-color:active {
  box-shadow: inset 0 0 0 3px var(--dark-primary-color);
  cursor: pointer;
}
.product-detail__btn-color--pressed {
  box-shadow: inset 0 0 0 3px var(--dark-primary-color);
}
.product-detail__btn-color--hover {
  box-shadow: inset 0 0 0 1.5px var(--dark-primary-color);
}
.product-detail__sizes {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  margin-bottom: 3.2rem;
}
.product-detail__size-label {
  font-size: var(--medium-text);
  font-weight: 500;
}
.product-detail__size-btns {
  row-gap: 1.6rem;
  column-gap: 1.6rem;
}
.product-detail__size-btn {
  color: inherit;
  box-shadow: inset 0 0 0 0.7px var(--default-txt-color);
  font-family: inherit;
  font-size: var(--small-text);
  padding: 1.2rem 1.6rem;
  transition: all 0.2s;
}
.product-detail__size-btn:hover {
  cursor: pointer;
}
.product-detail__size-btn:active {
  box-shadow: inset 0 0 0 3px var(--dark-primary-color);
  cursor: pointer;
}
.product-detail__size-btn--pressed {
  box-shadow: inset 0 0 0 3px var(--dark-primary-color);
}
.product-detail__size-btn--hover {
  box-shadow: inset 0 0 0 1.5px var(--dark-primary-color);
}
.product-detail__qty {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  margin-bottom: 4.8rem;
}
.product-detail__qty-label {
  font-size: var(--medium-text);
  font-weight: 500;
}
.product-detail__inc-dec {
  display: flex;
  align-items: center;
  gap: 1.6rem;
  border: 1px solid currentColor;
  width: max-content;
}
.product-detail__dec-btn,
.product-detail__inc-btn {
  color: inherit;
  font-size: var(--medium-text);
  font-family: inherit;
  font-weight: 500;
  background-color: var(--lighter-grey);
  padding: 0.8rem 1.2rem;
  transition: all 0.3s;
}
.product-detail__qty-num {
  font-size: var(--small-text);
  font-family: inherit;
  font-weight: 500;
}
.product-detail__dec-btn {
  border-right: 1px solid currentColor;
}
.product-detail__inc-btn {
  border-left: 1px solid currentColor;
}
.product-detail__dec-btn:hover,
.product-detail__dec-btn:active,
.product-detail__inc-btn:hover,
.product-detail__inc-btn:active {
  cursor: pointer;
  background-color: var(--light-grey);
}

.product-detail__add-cart {
  font-family: inherit;
  color: var(--lighter-primary-color);
  font-size: var(--large-small-text);
  font-weight: 600;
  border: 1px solid currentColor;
  display: inline-block;
  width: 100%;
  padding: 1.6rem 2.4rem;
  background-color: var(--darkest-primary-color);
  transition: all 0.3s;
}
.product-detail__add-cart:hover,
.product-detail__add-cart:active {
  background-color: var(--dark-primary-color);
  cursor: pointer;
}
/* MORE DETAILS */
.product-detail--remove-scroll {
  overflow: hidden;
}
.product-detail__overlay {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 100;
}
.product-detail--open-overlay .product-detail__overlay {
  display: block;
}
.product-detail__more-container {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  /* height: 100vh; */
  /* width: 100%; */
  z-index: 101;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s;
}
.product-detail--open-details .product-detail__more-container {
  opacity: 1;
  pointer-events: auto;
  visibility: visible;
}
.product-detail__more-details {
  background-color: var(--lighter-primary-color);
  width: 60%;
  padding: 4.8rem;
  position: relative;
}
.product-detail__general-details {
  display: flex;
  align-items: center;
  gap: 1.6rem;
  margin-bottom: 2.4rem;
}
.product-detail__more-img {
  width: 10%;
  height: 10%;
}

.product-detail__name-price {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}
.product-detail__more-name {
  font-size: var(--large-small-text);
  font-weight: 600;
  text-transform: capitalize;
}
.product-detail__more-price {
  font-size: var(--small-text);
  color: var(--light-grey);
}
.product-detail__more-description {
  font-size: var(--smaller-text);
  font-weight: 400;
  line-height: 1.5;
  margin-bottom: 1.6rem;
}
.product-detail__features-label {
  font-size: var(--smaller-text);
  font-weight: 600;
  margin-bottom: 0.8rem;
}
.product-detail__features {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
  margin-bottom: 1.6rem;
  margin-left: 2rem;
}
.product-detail__feature {
  font-size: var(--smaller-text);
  font-weight: 400;
}
.product-detail__info-label {
  font-size: var(--smaller-text);
  font-weight: 600;
  margin-bottom: 0.8rem;
}
.product-detail__infos {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
  margin-left: 2rem;
}
.product-detail__info {
  font-size: var(--smaller-text);
  font-weight: 400;
}
