/* 
--- 01 TYPOGRAPHY SYSTEM

- Font sizes (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

- Font size 
  medium: 2rem
  large: 3rem
  larger: 4.4rem;
  largest: 5.2rem;

- Font weights
  regular: 400
  semi-regular: 500
  semi-bold: 600
  bold: 700

- Line heights


- Letter spacing


--- 02 COLORS

- Primary: #0060d6

- Tints:
#CCDFF7
#e6effb


- Shades: 
#00306b
#00132b

- Accents:
- Greys
#333
#555
#888
#ddd


--- 05 SHADOWS


--- 06 BORDER-RADIUS

Default: 
Medium: 

--- 07 WHITESPACE

- Spacing system (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
*/

:root {
  /* Color */
  --primary-color: #0060d6;
  --dark-primary-color: #00306b;
  --darkest-primary-color: #00132b;
  --light-primary-color: #ccdff7;
  --lighter-primary-color: #e6effb;

  /* Text */
  --default-txt-color: #333;
  --light-grey: #888;
  --lighter-grey: #ddd;
  --logo-size: 8rem;
  --smallest-text: 1.2rem;
  --smaller-text: 1.6rem;
  --small-text: 1.8rem;
  --medium-text: 2rem;
  --large-small-text: 2.4rem;
  --large-text: 3rem;
  --larger-text: 4.4rem;
  --largest-text: 5.2rem;
  --largest-text-XL: 6.2rem;

  /* Padding */
  --default-vert-padding: 1.2rem;
  --default-hori-padding: 2.4rem;
  --btn-vert-padding: 1.6rem;
  --btn-hori-padding: 3.2rem;

  /* White Space */
  --big-white-space: 15rem;
  --default-white-space: 12.8rem;
  --small-white-space: 9.6rem;
  --smallest-white-space: 4.8rem;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  /* font-size: 10px; */

  /* 10px / 16px = 0.625 = 62.5% */
  /* Percentage of user's browser font-size setting */
  font-size: 62.5%;
}
body {
  color: var(--default-txt-color);
  font-family: "Inter", sans-serif;
  position: relative;
}
/**************************/
/* GENRAL REUSABLE COMPONENTS */
/**************************/
.container {
  margin: 0 auto;
}
.container--width {
  max-width: 150rem;
}
.general-padding {
  padding: var(--default-vert-padding) var(--default-hori-padding);
}

.list {
  list-style: none;
}
.link:link,
.link:visited {
  text-decoration: none;
}
.icon {
  color: #0060d6;
  font-size: 2.4rem;
}
.default-btn {
  border: none;
  background: none;
}
.btn {
  border-width: 2px;
  border-style: solid;
}
.gen-link:link,
.gen-link:visited {
  color: var(--default-txt-color);
  border-bottom: 2px solid transparent;
  transition: all 0.3s;
}
.gen-link:hover,
.gen-link:active {
  color: var(--primary-color);
  border-color: var(--primary-color);
}
/* Product Cards */
.product-card {
  transition: all 0.1s;
}
.product-card:hover,
.product-card:active {
  transform: translateY(-0.5rem);
  background-color: var(--lighter-grey);
}
/* Tag colors */
.tag-men {
  background-color: rgb(187, 187, 187);
}
.tag-women {
  background-color: pink;
}
.tag-hot {
  background-color: rgb(255, 98, 98);
}
.tag-new {
  background-color: rgb(255, 255, 84);
}
/* Reusable Grid */

.grid {
  display: grid;
  align-items: center;
}
.grid-2-cols {
  grid-template-columns: repeat(2, 1fr);
}
.grid-3-cols {
  grid-template-columns: repeat(3, 1fr);
}
.grid-4-cols {
  grid-template-columns: repeat(4, 1fr);
}
.grid-5-cols {
  grid-template-columns: repeat(5, 1fr);
}
