/****************************************** 
  BELOW 1408px (smaller desktops) 
*******************************************/
@media (max-width: 88em) {
  .section-hero__container {
    height: 80vh;
  }
  .section-hero__heading {
    font-size: var(--largest-text);
  }
  .section-hero__link:link,
  .section-hero__link:visited {
    font-size: var(--medium-text);
  }
  .container--width {
    max-width: 125rem;
  }
  .footer__container--width {
    max-width: 130rem;
  }
}
/****************************************** 
  BELOW 1232px (landscape tablets) 
*******************************************/
@media (max-width: 77em) {
  html {
    /* 8px / 16px = 0.5 = 50% */
    font-size: 50%;
  }
  .header__nav {
    left: 11%;
  }
  .section-new__img {
    width: 210px;
    height: auto;
  }
  .section-hero__container {
    height: 60vh;
  }
  .section-pref-heading {
    font-size: var(--larger-text);
  }
  .section-pref__card {
    height: 450px;
  }
  .section-popular__heading {
    font-size: var(--larger-text);
  }
  .section-popular__container {
    row-gap: 4.8rem;
    column-gap: 1.6rem;
  }
  .section-popular__line {
    font-size: var(--large-small-text);
  }
  .section-popular__link:link,
  .section-popular__link:visited {
    padding-bottom: 5px;
    border-width: 3px;
  }
}
/****************************************** 
  BELOW 944px (tablets) 
*******************************************/
@media (max-width: 59em) {
  html {
    /* 6px / 16px = 0.375 = 37.5% */
    font-size: 37.5%;
  }
  .general-padding {
    padding-right: 3.2rem;
    padding-left: 3.2rem;
  }
  .header__nav {
    left: 12%;
  }

  .section-hero__container {
    height: 45vh;
  }
  .section-new__container {
    padding: 0 4.8rem;
  }
  .section-pref__header {
    padding: 0 4.8rem;
  }
  .section-pref__container {
    grid-template-columns: repeat(2, 1fr);
    padding: 0 4.8rem;
    gap: 3.2rem;
  }

  .section-new__img {
    width: 180px;
    height: auto;
  }
  .section-pref__card {
    height: 400px;
  }
  .section-pref__span {
    bottom: 5%;
    left: 5%;
  }
  .section-popular__header {
    padding: 0 4.8rem;
  }
  .section-popular__container {
    padding: 0 4.8rem;
    column-gap: 6.4rem;
  }
  .section-cta {
    padding-top: 5.2rem;
  }
  .footer__container {
    column-gap: 2.4rem;
    row-gap: 4.8rem;
    padding: 0 4.8rem;
  }
  .footer__container--grid-temp {
    grid-template-columns: 3fr repeat(2, 2fr);
  }

  .footer__logo-sc {
    grid-row: 1/3;
    align-self: center;
  }
}
/****************************************** 
  BELOW 720px (tablets) 
*******************************************/
@media (max-width: 45em) {
  /* 5px / 16px = 0.3125 = 31.25% */
  html {
    font-size: 31.25%;
  }
  .header__nav {
    display: none;
  }
  .section-hero__heading {
    font-size: var(--larger-text);
  }
  .section-pref-heading {
    font-size: 3.5rem;
  }

  .section-popular__heading {
    font-size: 3.5rem;
  }
  .header__menu {
    display: block;
  }
}
/****************************************** 
  BELOW 520px (phones) 
*******************************************/
@media (max-width: 33em) {
  /* 3.5px / 16px = 0.21875 = 21.875% */
  html {
    font-size: 21.875%;
  }
  .section-hero__container {
    height: 30vh;
  }
  .section-new__products {
    overflow-y: scroll;
    flex-direction: column;
    align-items: center;
    max-height: 500px;
    padding: 0;
  }
  .section-new__img {
    width: 250px;
    height: auto;
  }
  .section-new__container {
    padding: 0 8rem;
  }
  .section-new__products::-webkit-scrollbar {
    width: 8px;
    height: 0;
  }
  .section-pref__container {
    grid-template-columns: repeat(1, 1fr);
    padding: 0 8rem;
    gap: 6.4rem;
  }
  .section-pref__card {
    height: 350px;
  }
  .section-pref__card:hover,
  .section-pref__card:active {
    transform: scale(1.03);
  }
  .section-popular__header {
    padding: 0 8rem;
  }
  .section-popular__container {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 4.8rem;
    padding: 0 8rem;
  }
  .section-popular__line {
    letter-spacing: 1px;
  }
  .section-popular__link:link,
  .section-popular__link:visited {
    border-bottom: 2px solid currentColor;
  }
}
/*
- Font sizes (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

- Spacing system (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
*/
