/****************************************** 
  NAVIGATION 
*******************************************/
.header {
  display: flex;
  gap: 3.2rem;
  background-color: var(--lighter-primary-color);
  position: relative;
  z-index: 2;
}
.header__img {
  width: var(--logo-size);
}
.header__nav {
  position: absolute;
  bottom: 0;
  left: 10%;
}
.header__list {
  display: flex;
  list-style: none;
  gap: 3.2rem;
  font-weight: 400;
}
.header__link:link,
.header__link:visited {
  color: var(--default-txt-color);
  font-size: var(--medium-text);
  font-weight: 600;
  padding: 0 0.8rem;
  padding-bottom: 3.2rem;
  display: inline-block;
  border-bottom: 4px solid transparent;
  transition: all 0.5s;
}
.header__link:hover,
.header__link:active {
  border-color: var(--dark-primary-color);
}

.header__aside {
  margin-left: auto;
  align-self: center;
  display: flex;
  gap: 1.6rem;
  align-items: center;
}
.header__form {
  position: relative;
  border: 1.3px solid var(--dark-primary-color);
  display: flex;
  align-items: center;
  background-color: #fff;
}
.header__search {
  width: 25rem;
  padding: 0.8rem 1.2rem;
  border-style: none;
  font-family: inherit;
  font-weight: 500;
  font-size: var(--smaller-text);
}
.header__search::placeholder {
  color: #555;
}
.header__search--icon {
  padding: 0 0.8rem;
}
.header__search:focus {
  outline: none;
}
.header__menu,
.header__close {
  display: none;
}
.header__close-icon,
.header__menu-icon {
  display: block;
  margin: auto 0;
}
.header--subnav-mobile-open .header__menu {
  display: none;
}
.header--subnav-mobile-open .header__close {
  display: block;
}
/* SUB NAV FOR MOBILE */
.header__subnav-mobile {
  position: absolute;
  bottom: 0;
  left: 0;
  transform: translateY(-100%);
  height: 95vh;
  width: 100%;
  background-color: var(--light-primary-color);
  z-index: 1;
  padding: 2.4rem;
  transition: all 0.3s;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  overflow-y: scroll;
}
.header--subnav-mobile-open .header__subnav-mobile {
  transform: translateY(100%);
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
.header__subnav-accordions {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}
.header__subnav-primary {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.6rem 3.2rem;
  background-color: #fff;
  border: 1px solid #fff;
}

.header__subnav-p {
  font-size: var(--medium-text);
  font-weight: 500;
}
.header__subnav-btn {
  cursor: pointer;
}
.header__subnav-icon {
  color: var(--lighter-primary-color);
}
.header__subnav-secondary {
  padding: 1.6rem 3.2rem;
  display: flex;
  justify-content: space-between;
  padding-left: 6.4rem;
  border: 1px solid var(--lighter-primary-color);
  background-color: #004dab;
  color: var(--lighter-primary-color);
}
.header__subnav-secondary:not(:last-child) {
  border-bottom: none;
}
.header__subnav-tertiary {
  padding: 1.6rem 3.2rem;
  display: flex;
  justify-content: space-between;
  padding-left: 9.6rem;
  border: 1px solid var(--lighter-primary-color);
  background-color: #004dab;
  color: var(--lighter-primary-color);
}
/* SUB NAV FOR LARGER SCREENS */
.header__subnav {
  position: absolute;
  background-color: #fff;
  bottom: 0;
  left: 0;
  width: 100%;
  transform: translateY(100%);
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
  transition: all 0.3s;
}
.header--subnav-open .header__subnav {
  opacity: 1;
  pointer-events: auto;
  visibility: visible;
}
.header__subnav-container {
  align-items: stretch;
}
.header__subnav-inner {
  padding: 3.2rem 6.4rem;
}
.header__subnav-inner:first-child {
  background-color: var(--light-primary-color);
}
.header__subnav-title {
  font-size: var(--medium-text);
  font-weight: 600;
  margin-bottom: 1.2rem;
}
.header__subnav-links {
  display: flex;
  gap: 0.8rem;
  flex-direction: column;
}
.header__subnav-link:link,
.header__subnav-link:visited {
  font-size: var(--smaller-text);
}

/****************************************** 
  HERO
*******************************************/

.section-hero__container {
  height: 90vh;

  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.7)),
    url(../imgs/hero1.jpg);
  background-size: cover;
  background-position-y: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.section-hero__heading {
  color: var(--light-primary-color);
  font-weight: 700;
  font-size: var(--largest-text-XL);
  letter-spacing: -0.5px;
  text-transform: uppercase;
  margin-bottom: 2.4rem;
  text-align: center;
}
.section-hero__link:link,
.section-hero__link:visited {
  color: var(--light-primary-color);
  font-size: var(--large-text);
  font-weight: 700;

  padding: var(--btn-vert-padding) var(--btn-hori-padding);
  border: 1px solid var(--light-primary-color);
  display: inline-block;
  margin-bottom: 10.4rem;

  transition: all 0.3s;
}
.section-hero__link:hover,
.section-hero__link:active {
  border-color: var(--dark-primary-color);
  background-color: var(--dark-primary-color);
  transform: scale(1.02);
}

/****************************************** 
  NEW ARRIVALS AND BEST SELLERS
*******************************************/

.section-new {
  padding: var(--default-white-space) 0;
}
.section-new__container {
  padding: 0 var(--default-hori-padding);
}
.section-new__btns {
  display: flex;
  gap: 1.6rem;
  position: relative;
  margin-bottom: 6.4rem;
}
.section-new__btn {
  border-color: var(--darkest-primary-color);
  padding: var(--btn-vert-padding) var(--btn-hori-padding);

  font-family: inherit;
  font-size: var(--medium-text);
  color: var(--darkest-primary-color);
  background-color: #fff;
  transition: all 0.3s;
}
.section-new__btn:hover {
  color: var(--lighter-primary-color);
  background-color: var(--darkest-primary-color);
  cursor: pointer;
}

.section-new__btn--open {
  color: var(--lighter-primary-color);
  background-color: var(--darkest-primary-color);
}
.section-new__all:link,
.section-new__all:visited {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  font-size: var(--medium-text);
  font-weight: 400;

  color: var(--darkest-primary-color);
  padding-bottom: 3px;
  border-bottom: 1.5px solid currentColor;

  transition: all 0.3s;
}
.section-new__all:hover,
.section-new__all:active {
  color: var(--light-grey);
}
.section-new__products {
  display: flex;
  gap: 3.2rem;
  overflow-x: scroll;
  padding: var(--default-vert-padding) 0;
}
/* SCROLLBAR ACCESSIBILITY (CHROME, SAFARI) */
.section-new__products::-webkit-scrollbar {
  height: 8px;
}
.section-new__products::-webkit-scrollbar-thumb {
  background-color: var(--darkest-primary-color);
  cursor: grab;
}
.section-new__products::-webkit-scrollbar-thumb:active {
  cursor: grabbing;
}
.section-new__products::-webkit-scrollbar-track {
  background-color: var(--lighter-grey);
}
.section-new__products::-webkit-scrollbar:hover {
  height: 10px;
}
/* .section-new__product-card {
  flex-basis: 900px;
  flex-grow: 1;
} */
.section-new__img {
  width: 250px;
  height: auto;
  /* width: 100%;
  height: auto; */
}
.section-new__details {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  padding: var(--default-vert-padding) var(--default-hori-padding);
  color: var(--default-txt-color);
}
.section-new__name {
  font-size: var(--small-text);
  font-weight: 600;
}
.section-new__price {
  font-size: var(--smaller-text);
}
.section-new__tags {
  display: flex;
  gap: 1.2rem;
}
.section-new__tag {
  font-size: var(--smallest-text);
  padding: 0.4rem 0.8rem;
}

/****************************************** 
  SHOPPING PREFERENCE
*******************************************/

.section-pref {
  padding: var(--small-white-space) 0;
  background-color: var(--lighter-primary-color);
}
.section-pref__header {
  padding: 0 var(--default-hori-padding);
}
.section-pref__p {
  text-transform: uppercase;
  color: var(--primary-color);
  font-size: var(--medium-text);
  font-weight: 600;
  letter-spacing: 1.5px;
  margin-bottom: 2.4rem;
}
.section-pref-heading {
  text-transform: capitalize;
  letter-spacing: -0.5px;
  font-size: var(--largest-text);
  font-weight: 700;
  margin-bottom: 6.4rem;
}
.section-pref__container {
  gap: 2.4rem;
  padding: 0 var(--default-hori-padding);
}
.section-pref__card {
  height: 540px;
  position: relative;
  transition: all 0.3s;
}
.section-pref__card:hover,
.section-pref__card:active {
  cursor: pointer;
  transform: scale(1.05);
}
.section-pref__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.section-pref__span {
  position: absolute;
  bottom: 10%;
  left: 10%;
  color: var(--lighter-primary-color);
  font-size: var(--small-text);
  font-weight: 600;
  background-color: var(--default-txt-color);
  padding: 0.4rem 0.8rem;
  z-index: 99;
}

/****************************************** 
  POPULAR RIGHT NOW
*******************************************/

.section-popular {
  padding: var(--small-white-space) 0;
}
.section-popular__header {
  padding: 0 var(--default-hori-padding);
}
.section-popular__span {
  text-transform: uppercase;
  font-size: var(--medium-text);
  font-weight: 600;
  color: var(--primary-color);
  letter-spacing: 1.5px;
  margin-bottom: 2.4rem;
  display: inline-block;
}
.section-popular__heading {
  text-transform: capitalize;
  font-size: var(--largest-text);
  font-weight: 700;
  letter-spacing: -0.5px;
  margin-bottom: 8rem;
}
.section-popular__container {
  padding: 0 var(--default-hori-padding);
  row-gap: 6.4rem;
  column-gap: 3.2rem;
}
.section-popular__line {
  font-size: var(--large-text);
  font-weight: 500;
  letter-spacing: 2px;
  line-height: 1.6;
}
.section-popular__link:link,
.section-popular__link:visited {
  color: var(--default-txt-color);
  border-bottom: 4px solid currentColor;
  display: inline-block;
  padding-bottom: 8px;
  transition: all 0.3s;
}
.section-popular__link:hover,
.section-popular__link:active {
  color: var(--primary-color);
}

/****************************************** 
  CALL TO ACTION
*******************************************/
.section-cta {
  padding: var(--big-white-space) 0;
}
.section-cta__container {
  padding: 0 var(--default-hori-padding);
}
.section-cta__signup {
  background-color: var(--dark-primary-color);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3.2rem;
  padding: 4.8rem 0;
}
.section-cta__text {
  text-transform: uppercase;
  font-size: var(--large-text);
  font-weight: 700;
  color: var(--lighter-primary-color);
}
.section-cta__btn:link,
.section-cta__btn:visited {
  text-transform: uppercase;
  color: var(--default-txt-color);
  font-size: var(--small-text);
  font-weight: 600;
  background-color: var(--lighter-primary-color);
  border: 3px solid transparent;
  padding: 1.6rem 3.2rem;
  transition: all 0.3s;
}
.section-cta__btn:hover,
.section-cta__btn:active {
  /* border: 3px solid var(--light-grey); */
  background-color: var(--light-grey);
  color: var(--lighter-primary-color);
}
.section-cta__arrow {
  margin-left: 0.4rem;
}

/****************************************** 
  FOOTER
*******************************************/
.footer {
  padding-top: var(--smallest-white-space);
  padding-bottom: var(--smallest-white-space);
  background-color: var(--lighter-primary-color);
}
.footer__container {
  padding: 0 var(--default-hori-padding);
  align-items: start;
}

.footer__container--width {
  max-width: 160rem;
}
.footer__container--grid-temp {
  grid-template-columns: 4fr repeat(4, 3fr);
}

.footer__logo {
  width: 15rem;
  margin-bottom: 1.6rem;
}
.footer__p {
  text-transform: capitalize;
  font-size: var(--medium-text);
  font-weight: 600;
  margin-bottom: 1.6rem;
}
.footer__icons {
  display: flex;
  gap: 0.8rem;
}
.footer__icon {
  color: var(--default-txt-color);
  font-size: 2.4rem;
}
.footer__links {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}
.footer__link-heading {
  font-size: var(--medium-text);
  font-weight: 700;
  margin-bottom: 1.6rem;
}
.footer__link:link,
.footer__link:visited {
  font-size: 1.4rem;
  font-weight: 500;
}
/****************************************** 
  PRODUCTS
*******************************************/
.products {
  padding: var(--smallest-white-space) 0;
}
.products__container {
  max-width: 140rem;
  padding: 0 var(--default-hori-padding);
  grid-template-columns: 2fr 6fr;
  column-gap: 3.2rem;
  align-items: start;
}
.products__filters {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}
.products__filter-title {
  font-size: var(--large-small-text);
  font-weight: 600;
  letter-spacing: 0.8px;
}
.products__accordions {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}
.products__accordion-upper {
  font-size: var(--medium-text);
  font-weight: 500;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.2rem 0;
}
.products__accordion-upper:hover {
  cursor: pointer;
}
.products__icon {
  color: var(--default-txt-color);
  font-size: 2rem;
  --ionicon-stroke-width: 40px;
}
.products__accordion-lower {
  display: none;
  background-color: var(--light-primary-color);
  padding: 1.6rem;
}
.products__accordion-open .products__accordion-lower {
  display: block;
}
.products__accordion-form {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}
.products__accordion-indiv-checkbox {
  display: flex;
  gap: 0.8rem;
  align-items: center;
  font-size: var(--smaller-text);
  font-weight: 400;
}

.products__breadcrumbs {
  display: flex;
  gap: 0.8rem;
  margin-bottom: 4.8rem;
}
.products__breadcrumb-link,
.products__breadcrumb-span {
  font-size: var(--medium-text);
  font-weight: 400;
}
.products__breadcrumb-link {
  color: var(--default-txt-color);
  text-transform: uppercase;
}
.products__breadcrumb-span:last-child {
  display: none;
}
.products__heading-sort {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2.4rem;
}
.products__heading {
  text-transform: uppercase;
  font-size: var(--larger-text);
  font-weight: 700;
}
.products__sort-form {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}
.products__sort-label {
  text-transform: uppercase;
  font-size: var(--medium-text);
  font-weight: 600;
}
.products__sort-select {
  color: var(--default-txt-color);
  font-family: inherit;
  font-size: var(--medium-text);
  font-weight: 600;
  border: 1px solid var(--darkest-primary-color);
}
.products__prod {
  grid-column: 1/-1;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 1.6rem;
  row-gap: 0.8rem;
  margin-bottom: 4.8rem;
}
.products__prod-img {
  width: 100%;
  height: auto;
}
.products__prod-details {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  padding: 1.6rem;
}
.products__prod-name {
  font-size: var(--large-small-text);
  font-weight: 700;
  color: var(--default-txt-color);
}
.products__prod-price {
  font-size: var(--small-text);
  font-weight: 600;
  color: var(--default-txt-color);
}
.products__prod-tags {
  font-size: var(--smaller-text);
  font-weight: 400;
  display: flex;
  gap: 0.8rem;
  color: var(--default-txt-color);
}
.products__prod-tag {
  padding: 0.4rem 0.8rem;
}
.products__pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.products__pagination-container {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}
.products__pagination-span {
  font-size: var(--small-text);
  font-weight: 400;
}
.products__pagination-select {
  color: var(--default-txt-color);
  font-family: inherit;
  font-size: var(--small-text);
  padding: 1.5rem;
  border: 1px solid var(--default-txt-color);
}
.products__pagination-next:link,
.products__pagination-next:visited {
  position: absolute;
  right: 0;
  font-size: var(--medium-text);
  font-weight: 500;
  color: var(--dark-primary-color);
  border-bottom: 2px solid currentColor;
  padding-bottom: 0.2rem;
}
.products__pagination-next:hover,
.products__pagination-next:active {
  color: var(--light-grey);
}
/****************************************** 
  SIGN UP MODAL
*******************************************/
.signup-remove-scroll {
  overflow: hidden;
}
.signup-overlay {
  background-color: rgba(0, 0, 0, 0.4);
  position: absolute;
  top: 0;
  width: 100vw;
  height: 100vh;

  display: none;
  z-index: 100;
}

.signup-open-overlay .signup-overlay {
  display: block;
}

.signup {
  background-color: var(--lighter-primary-color);
  padding: 3.2rem;
  position: absolute;
  top: 0;
  left: 50%;
  margin-top: 20vh;
  width: 30%;
  transform: translateX(-50%);
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
  transition: all 0.3s;
  z-index: 101;
}
.signup-open .signup {
  opacity: 1;
  pointer-events: auto;
  visibility: visible;
}
.signup__exit {
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(40%, -40%);
  padding: 1.2rem 1.5rem;
  font-size: var(--smaller-text);
  background-color: var(--lighter-primary-color);
  border: 1px solid var(--dark-primary-color);
  transition: all 0.3s;
}
.signup__exit:hover,
.signup__exit:active {
  background-color: rgb(255, 93, 93);
  border-color: rgb(255, 93, 93);
}
.signup__img {
  width: 15rem;
  height: auto;
  margin: 0 auto;
  display: block;
  margin-bottom: 2.4rem;
}
.signup__p {
  font-size: var(--large-text);
  font-weight: 600;
  margin-bottom: 3.2rem;
}
.signup__email {
  font-family: inherit;
  font-size: var(--small-text);
  font-weight: 400;
  padding: 0.8rem;
  border: 1px solid var(--dark-primary-color);
  margin-bottom: 2.4rem;
  width: 100%;
}
.signup__options {
  display: flex;
  gap: 1.2rem;
  margin-bottom: 1.2rem;
}
.signup__icon {
  color: var(--default-txt-color);
  font-size: 2rem;
  background-color: #fff;
  padding: 1rem;
  border: 1px solid var(--default-txt-color);
}
.signup__policy-container {
  display: flex;
  align-items: flex-start;
  gap: 0.8rem;
  font-size: var(--smaller-text);
  line-height: 1.6;
  margin-bottom: 2.4rem;
}
.signup__checkbox {
  width: 2rem;
  height: 2rem;
}
.signup__link {
  color: var(--primary-color);
  border-bottom: 1px solid currentColor;
}
.signup__btn {
  padding: 1.2rem 2.4rem;
  border: 1px solid var(--dark-primary-color);
  background-color: var(--dark-primary-color);
  color: var(--lighter-primary-color);
  font-size: var(--small-text);
  font-weight: 500;
  /* position: absolute;
  bottom: 10%;
  right: 10%; */
  margin-left: auto;
  display: block;
  transition: all 0.3s;
}
.signup__btn:hover,
.signup__btn:active {
  background-color: var(--default-txt-color);
  border-color: var(--default-txt-color);
  cursor: pointer;
}
