/* NAVIGATION */
.header {
  display: flex;
  gap: 3.2rem;
  background-color: var(--lighter-primary-color);
  position: relative;
}
.header__img {
  width: var(--logo-size);
}
.header__nav {
  position: absolute;
  bottom: 0;
  left: 10%;
}
.header__list {
  display: flex;
  list-style: none;
  gap: 3.2rem;
  font-weight: 400;
}
.header__link:link,
.header__link:visited {
  color: var(--default-txt-color);
  font-size: var(--medium-text);
  padding: 0 0.8rem;
  padding-bottom: 3.2rem;
  display: inline-block;
  border-bottom: 4px solid transparent;
  transition: all 0.5s;
}
.header__link:hover,
.header__link:active {
  border-color: var(--dark-primary-color);
}

.header__aside {
  margin-left: auto;
  align-self: center;
  display: flex;
  gap: 1.6rem;
  align-items: center;
}
.header__form {
  position: relative;
  border: 1.3px solid var(--dark-primary-color);
  display: flex;
  align-items: center;
  background-color: #fff;
}
.header__search {
  width: 20rem;
  padding: 0.8rem;
  border-style: none;
  font-family: inherit;
}
.header__search--icon {
  padding: 0 0.8rem;
}
.header__search:focus {
  outline: none;
}

/* HERO */
.section-hero__container {
  height: 90vh;

  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.7)),
    url(../imgs/hero1.jpg);
  background-size: cover;
  background-position-y: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.section-hero__heading {
  color: var(--light-primary-color);
  font-weight: 700;
  font-size: var(--largest-text);
  margin-bottom: 2.4rem;
}
.section-hero__link:link,
.section-hero__link:visited {
  color: var(--light-primary-color);
  font-size: var(--medium-text);
  font-weight: 700;

  padding: var(--btn-vert-padding) var(--btn-hori-padding);
  border: 1px solid var(--light-primary-color);
  display: inline-block;
  margin-bottom: 10.4rem;

  transition: all 0.3s;
}
.section-hero__link:hover,
.section-hero__link:active {
  border-color: var(--dark-primary-color);
  background-color: var(--dark-primary-color);
  transform: scale(1.02);
}

/* NEW ARRIVALS AND BEST SELLERS */
.section-new {
  padding: var(--default-white-space) 0;
  /* background-color: var(--lighter-primary-color); */
}
.section-new__container {
  padding: 0 var(--default-hori-padding);
}
.section-new__btns {
  display: flex;
  gap: 1.6rem;
  position: relative;
  margin-bottom: 6.4rem;
}
.section-new__btn {
  border-color: var(--darkest-primary-color);
  padding: var(--btn-vert-padding) var(--btn-hori-padding);

  font-family: inherit;
  font-size: var(--medium-text);
  color: var(--darkest-primary-color);
  background-color: #fff;
  transition: all 0.3s;
}
.section-new__btn:hover {
  color: var(--lighter-primary-color);
  background-color: var(--darkest-primary-color);
  cursor: pointer;
}
.section-new__btns .section-new__btn--open {
  color: var(--lighter-primary-color);
  background-color: var(--darkest-primary-color);
}
.section-new__all:link,
.section-new__all:visited {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  font-size: var(--medium-text);
  font-weight: 400;
  /* text-decoration: solid underline;
  text-underline-offset: 5px; */
  color: var(--darkest-primary-color);
  padding-bottom: 3px;
  border-bottom: 1.5px solid currentColor;
  transition: all 0.3s;
}
.section-new__all:hover,
.section-new__all:active {
  color: var(--light-grey);
}
.section-new__products {
  display: flex;
  gap: 3.2rem;
  overflow-x: scroll;
  padding: var(--default-vert-padding) 0;
  /* scrollbar-color: #000 grey; */
}
/* SCROLLBAR ACCESSIBILITY (CHROME, SAFARI) */
.section-new__products::-webkit-scrollbar {
  height: 8px;
}
.section-new__products::-webkit-scrollbar-thumb {
  background-color: var(--darkest-primary-color);
  cursor: grab;
}
.section-new__products::-webkit-scrollbar-thumb:active {
  cursor: grabbing;
}
.section-new__products::-webkit-scrollbar-track {
  background-color: var(--lighter-grey);
}
.section-new__products::-webkit-scrollbar:hover {
  height: 10px;
}
.section-new__product {
  margin-bottom: 1.6rem;
  transition: all 0.1s;
}
.section-new__product:hover,
.section-new__product:active {
  transform: translateY(-0.5rem);
  background-color: var(--lighter-grey);
}

.section-new__img {
  width: 250px;
  height: 250px;
}
.section-new__details {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  padding: var(--default-vert-padding) var(--default-hori-padding);
  color: var(--default-txt-color);
}
.section-new__name {
  font-size: var(--small-text);
  font-weight: 600;
}
.section-new__price {
  font-size: var(--smaller-text);
}
.section-new__tags {
  display: flex;
  gap: 1.2rem;
}
.section-new__tag {
  font-size: var(--smallest-text);
  padding: 0.4rem 0.8rem;
}
.section-new__tag--men {
  background-color: rgb(187, 187, 187);
}
.section-new__tag--women {
  background-color: pink;
}
.section-new__tag--hot {
  background-color: rgb(255, 98, 98);
}
.section-new__tag--new {
  background-color: rgb(255, 255, 84);
}
